* {
  user-select: none;
  -webkit-user-drag: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  color: white;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
}

body {
  background-color: #333333;
  margin: 0;
}

*[hidden] {
  display: none !important;
}

.alert {
  position: fixed;
  top: 5px;
  left: 33%;
  right: 33%;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 2rem 2rem;
  border-radius: 4px;
  justify-items: center;
  text-align: center;
  background: url("/images/warning.png") #bc13fe;
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: 1rem center;
  animation: alert 5s ease forwards;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .alert {
    left: 5px;
    right: 5px;
  }
}
@keyframes alert {
  0% {
    opacity: 0;
    top: -8rem;
  }
  10% {
    top: 5px;
    opacity: 1;
  }
  90% {
    top: 5px;
    opacity: 1;
  }
  100% {
    top: -8rem;
    opacity: 0;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2.5rem;
  line-height: 1em;
  cursor: pointer;
}

form label {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  margin-top: 10px;
}
form label + button {
  margin-top: 2rem;
}
form label.with-switch {
  color: #fff;
  position: relative;
}

.switch {
  position: absolute;
  right: 1rem;
  opacity: 1;
  margin-left: auto;
  display: inline-block;
  height: 1rem;
  width: 2rem;
  background-color: gray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1px;
  border-radius: 1rem;
  transition: background-color ease-in-out 100ms;
  margin-bottom: -2.5px;
}

.switch > .knob {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  transition: margin-left ease-in-out 100ms;
}

input:checked + .switch {
  background-color: #bc13fe;
}

input:checked + .switch > .knob {
  margin-left: 1rem;
}

input {
  background-color: transparent;
  display: block;
  padding: 5px 0;
  margin-top: 15px;
  border: none;
  border-bottom: #fff 2px solid;
  color: #fff;
  margin: 0 auto;
  outline: none;
  transition: border-bottom 250ms ease;
  text-align: left;
  font-size: 1rem;
  min-width: 200px;
}
form input {
  width: 100%;
}
input:focus {
  border-bottom: #bc13fe 2px solid;
}
input + button {
  margin-top: 2rem;
}

button,
.button {
  font-size: 1rem;
  background-color: #bc13fe;
  border: none;
  text-decoration: none;
  display: block;
  width: 75%;
  text-align: center;
  padding: 1em 2rem;
  margin: 0.5rem auto;
  border-radius: 5rem;
  transition: background-color ease 250ms;
  outline: none;
}
form button,
form .button {
  width: 100%;
}
button.add,
.button.add {
  width: auto;
  border-radius: 100%;
  font-size: 2rem;
  padding: 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
button.add::after,
.button.add::after {
  content: "+";
  display: block;
  line-height: 1em;
  text-align: center;
  height: 1em;
  width: 1em;
}
button:disabled, button[disabled],
.button:disabled,
.button[disabled] {
  pointer-events: none;
  background-color: slategray;
}
button:hover,
.button:hover {
  background-color: #9f01dd;
}
button.secondary,
.button.secondary {
  background-color: #5a6773;
}
button.secondary:hover,
.button.secondary:hover {
  background-color: #4e5a65;
}

.button-group {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-self: stretch;
  width: 75%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
.button-group button,
.button-group .button {
  margin: 0 5px;
  flex: 1;
}

dialog {
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #333333;
}
dialog h1 {
  font-size: 2rem;
  text-align: center;
}

.toggle {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 500ms ease;
}
input:checked ~ .toggle {
  opacity: 1;
  max-height: 1000px;
}

.start-page {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33vh 1fr;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .start-page {
    grid-template-columns: 1fr;
    grid-template-rows: 33vh 1fr 1fr;
  }
  .start-page > img {
    grid-column: initial !important;
  }
}
.start-page > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
  grid-column: 1/3;
}
.start-page .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start-page .settings h1 {
  margin-bottom: 0;
}
.start-page .settings p {
  margin-top: 0;
}
.start-page .settings .start {
  background-image: url("/images/play.png");
  background-position: right 1rem center;
  background-size: 3rem;
  background-repeat: no-repeat;
}
.start-page .players {
  border-radius: 1rem;
  overflow-y: auto;
  padding: 1rem;
}
.start-page .players p {
  display: block;
  background: #2b2d31;
  margin: 5px 0;
  padding: 1rem;
}
.start-page .players p:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.start-page .players p:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: -9999;
}
.pile .card {
  height: 15vmax;
  position: absolute;
  top: var(--top, 50%);
  left: var(--left, 50%);
  animation: return-to-pile 250ms ease forwards;
  transform: translate(-50%, -50%) rotate(var(--rotation));
}
@keyframes return-to-pile {}

.hand {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding-top: 1rem;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: -5vmax;
  transition: filter 100ms ease, margin-bottom 250ms ease;
}
.hand.disabled {
  margin-bottom: -8.5vmax;
}
.hand.disabled .card {
  -webkit-user-drag: none;
}
.hand.disabled .card:hover {
  margin-bottom: 3.5vmax;
}
.hand.disabled .card:not(:hover) {
  filter: brightness(75%);
}
.hand:not(.disabled):hover .card:not(:hover) {
  filter: brightness(75%);
}
.hand .card {
  display: inline-block;
  min-width: 10vmax;
  height: 15vmax;
  margin-right: -3vmax;
  outline: none;
  transition: margin 250ms ease, transform 250ms ease, filter 250ms ease;
  transform: rotate(3deg);
  -webkit-user-drag: element;
}
.hand .card:first-of-type {
  margin-left: 1rem;
}
.hand .card:last-of-type {
  margin-right: 1rem;
}
.hand .card:hover,
.hand .card .selected {
  position: relative;
  z-index: 999;
  transform: rotate(0deg) scale(1.1);
}
.hand .card.from-stock {
  animation: pull-card 1s ease 1;
}
@keyframes pull-card {
  0% {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: -999;
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  25% {
    transform: scale(0.5) rotate(-35deg);
  }
  50% {
    position: fixed;
    top: calc(100vh - 10vmax);
    left: 50%;
    transform: scale(1) rotate(3deg);
    opacity: 0;
  }
  74% {
    position: fixed;
    margin: 0;
    margin-right: -3vmax;
    min-width: 10vmax;
  }
  75% {
    position: static;
    max-width: 0;
    opacity: 0;
    min-width: 0;
    transform: scale(1) rotate(3deg);
  }
  95% {
    max-width: 10vmax;
    margin-right: -3vmax;
    transform: scale(1) rotate(3deg);
  }
  100% {
    position: static;
    opacity: 1;
    transform: scale(1) rotate(3deg);
  }
}

.stack {
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 7.5vmax;
  perspective: 2000px;
  background-image: url("/images/card_back.png");
  background-size: 100%;
}
.stack img {
  height: 7.5vmax;
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform-origin: top left;
}
.stack:hover img {
  transform: rotateZ(5deg) rotateY(-45deg);
}

body > .players {
  position: fixed;
  right: -33vw;
  top: 0;
  height: 100vh;
  width: 33vw;
  backdrop-filter: blur(5px);
  background-color: rgba(47, 49, 54, 0.75);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: right 250ms ease;
  transition-delay: 75ms;
  z-index: 999;
}
body > .players.show {
  transition-delay: 0;
  right: 0;
}
body > .players > p {
  display: flex;
  max-height: 3rem;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 1rem;
  margin: 0;
}
body > .players > p.turn {
  background-color: rgba(0, 0, 0, 0.16);
}
body > .players > p img {
  margin-right: -1rem;
  height: 3rem;
}
body > .players > p img:first-of-type {
  margin-left: auto;
}
body > .players > p :last-child:not(img) {
  margin-left: 1.5rem;
}

/*# sourceMappingURL=room.css.map */
